# Linear Regression Model Multi Variable
## - Animesh Singh
### You can refer to this Jupyter Notebook in order to understand, How Linear Regression Model is Implemented for multi variable DataSET

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("train.csv")
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [3]:
# We will make a new DataFrame, consiting 6 features namely - LotArea, YrSold, PoolArea, MoSold, LotFrontage, SalePrice
Ndata=pd.concat([data.LotArea, data.YrSold, data.PoolArea, data.MoSold, data.LotFrontage, data.SalePrice],axis="columns")
Ndata.head()

   LotArea  YrSold  PoolArea  MoSold  LotFrontage  SalePrice
0     8450    2008         0       2         65.0     208500
1     9600    2007         0       5         80.0     181500
2    11250    2008         0       9         68.0     223500
3     9550    2006         0       2         60.0     140000
4    14260    2008         0      12         84.0     250000

In [4]:
# Let's Check if there's any NaN value in Columns of Ndata - using:
# df["column name"].isnull().values.any()
# I made a function to do this job
def checkNAN(feature):
   return (Ndata[feature].isnull().values.any())

In [5]:
checkNAN("LotFrontage")

True

In [6]:
checkNAN("MoSold")

False

In [7]:
checkNAN("PoolArea")

False

In [8]:
checkNAN("YrSold")

False

In [9]:
checkNAN("LotArea")

False

In [10]:
checkNAN("SalePrice")

False

In [11]:
# We will find out meadian of LotFrontage, and will replace the NaN with this median
import math
median_lf=Ndata.LotFrontage.median() 
median_lf

69.0

In [12]:
# To replace all NaN value with certain other value, there's method for it - "fillna()" 
# "fillna()": it replaces all the NaN values in a particular columns.
Ndata.LotFrontage=Ndata.LotFrontage.fillna(median_lf)

In [13]:
Ndata.head(20)

    LotArea  YrSold  PoolArea  MoSold  LotFrontage  SalePrice
0      8450    2008         0       2         65.0     208500
1      9600    2007         0       5         80.0     181500
2     11250    2008         0       9         68.0     223500
3      9550    2006         0       2         60.0     140000
4     14260    2008         0      12         84.0     250000
5     14115    2009         0      10         85.0     143000
6     10084    2007         0       8         75.0     307000
7     10382    2009         0      11         69.0     200000
8      6120    2008         0       4         51.0     129900
9      7420    2008         0       1         50.0     118000
10    11200    2008         0       2         70.0     129500
11    11924    2006         0       7         85.0     345000
12    12968    2008         0       9         69.0     144000
13    10652    2007         0       8         91.0     279500
14    10920    2008         0       5         69.0     157000
15     6120    2007         0       7         51.0     132000
16    11241    2010         0       3         69.0     149000
17    10791    2006         0      10         72.0      90000
18    13695    2008         0       6         66.0     159000
19     7560    2009         0       5         70.0     139000

In [14]:
# Let's create Linear Regression Model
reg=LinearRegression()

In [18]:
# let's train our model
# so we will fit the training data into our model
reg.fit(Ndata[["LotArea", "YrSold", "PoolArea", "MoSold", "LotFrontage"]],Ndata.SalePrice)

LinearRegression()

In [20]:
# let's see our coefficient and Intercept
reg.coef_

array([    1.41234105, -1219.57608365,    57.42273987,  1215.05366945,
         992.43506356])

In [21]:
reg.intercept_

2537576.843662581

In [22]:
# Let's predict
reg.predict([[6200,2009,1,13,90,]])

/home/mrnalayk/anaconda3/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([201377.28228992])