# Logistic Regression Implementation
> In this Notebook, I have implemented, Logistic regression in Python, using Sklearn and Pandas. Feel free to use my code, I would be really happy if you give me a follow, and a star. And if you really liked my work and think that it can help any of your friend then share it with them. 
>> If you are not able to understand any part of my code, then just visit my Linear Regression code, where I   had explained everything.

### Thank you
###### - **Animesh Singh**

In [1]:
# let's import few libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
data=pd.read_csv("tit_train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.drop(["PassengerId","Pclass","Name","Sex","SibSp","Parch","Ticket","Fare","Cabin","Embarked"],axis="columns").head()

   Survived   Age
0         0  22.0
1         1  38.0
2         1  26.0
3         1  35.0
4         0  35.0

In [4]:
ndata=data.drop(["PassengerId","Pclass","Name","Sex","SibSp","Parch","Ticket","Fare","Cabin","Embarked"],axis="columns")

In [5]:
ndata

     Survived   Age
0           0  22.0
1           1  38.0
2           1  26.0
3           1  35.0
4           0  35.0
..        ...   ...
886         0  27.0
887         1  19.0
888         0   NaN
889         1  26.0
890         0  32.0

[891 rows x 2 columns]

In [6]:
# Let's Check if there's any NaN value in Columns of Ndata - using:
# df["column name"].isnull().values.any()
# I made a function to do this job
def checkNAN(feature):
   return (ndata[feature].isnull().values.any())

In [7]:
checkNAN("Survived")

False

In [8]:
checkNAN("Age")

True

In [9]:
import math
med=ndata.Age.median()
med

28.0

In [10]:
ndata.Age=pd.DataFrame(ndata.fillna(med))

In [11]:
checkNAN("Age")

False

In [12]:
# Let's seperate our data for traning and testing purposes.
#for this here we are using train_test_split(data, target, test_size) method.
X_train, X_test,y_train,y_test=train_test_split(ndata[["Age"]],ndata["Survived"],test_size=0.2)

In [13]:
X_train.head()

     Age
478  0.0
374  0.0
890  0.0
597  0.0
175  0.0

In [14]:
log_model=LogisticRegression().fit(X_train,y_train)

In [15]:
log_model.predict(X_test)

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0])

In [16]:
log_model.score(X_test,y_test)

1.0

In [17]:
log_model.predict_proba(X_test) # It predict the probabilty of you data sample being in pne class then the other.

array([[0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.02762159, 0.97237841],
       [0.98261801, 0.01738199],
       [0.98261801, 0.01738199]])

## Thanks for your time, if you liked my code, feel free to connect with me on
* [Linkedin](https://www.linkedin.com/in/animeshiology/)
* [Personal Website](https://animeshsinghiit.github.io/Animesh.github.io/)